<nav class="dark navbar-dark bg-light container-fluid py-3">
	<div class="row">
		<div class="col-10">
			<ul class="nav nav-pills ms-3">
				<li class="nav-item">
					<a class="nav-link text-muted {% block Movies %}{% endblock %}" href="{{ path('back_movie_list') }}">Movies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted {% block Jobs %}{% endblock %}" href="#">Jobs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted {% block Castings %}{% endblock %}" href="{{ path('back_casting_list') }}">Castings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted {% block Person %}{% endblock %}" href="#">Person</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted {% block Department %}{% endblock %}" href="#">Department</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted {% block Team %}{% endblock %}" href="#">Team</a>
				</li>			
			</ul>
		</div>
		<div class="col-2 d-flex flex-row-reverse">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('movie_list') }}">Déconnexion</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
