{% extends 'back/base.html.twig' %}

{% block title %}Add Jobs Here{% endblock %}

{% block body %}

<div class="container">

<h1>Add Jobs Here</h1>

{% include "back/include/_form.html.twig" %}

</div>

{% endblock %}