{% extends 'back/base.html.twig' %}

{% block title %}Edit Movies Here{% endblock %}

{% block Movies %}active{% endblock %}

{% block body %}

<div class="container">

<h1>Edit Movies Here</h1>

{% include "back/include/_form.html.twig" %}

</div>

{% endblock %}